@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.eot"),
    url("../fonts/OpenSans.woff") format("woff"),
    url("../fonts/OpenSans.ttf") format("truetype"),
    url("../fonts/OpenSans.svg") format("svg");
}
@font-face {
  font-family: "Durk";
  src: url("../fonts/Durk.eot"), url("../fonts/Durk.woff") format("woff"),
    url("../fonts/Durk.ttf") format("truetype"),
    url("../fonts/Durk.svg") format("svg");
}
@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne.eot"), url("../fonts/Syne.woff") format("woff"),
    url("../fonts/Syne.ttf") format("truetype"),
    url("../fonts/Syne.svg") format("svg");
}
