/*Global elements*/

/*******************************/
/* MEDIA QUERIES SCREEN SIZE   */
/********************************/
$screenWidth: (
  /*xl*/ desktopL: 1200px,
  /*lg*/ desktop: 992px,
  /*md*/ tablet: 768px,
  /*sm*/ mobile: 576px,
  /*xs*/ mobileS: 320px
) !default;

/*******************************/
/* PAGE AREA                    */
/********************************/
.page-container {
  width: 100%;
  max-width: 1500px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
}
section {
  margin-top: 50px;
}

/*MAP CONTROLS BTNS*/
@mixin controlBtn {
  border: 1px solid color(softGray);
  padding: 24px 25px;
  display: block;
  float: left;
  width: 50%;
  background: color(light);
  svg {
    padding-right: 10px;
    width: 35px;
    path {
      fill: color(dark);
    }
  }
}
.active-btn {
  background: #000 !important;
  color: #fff !important;
  path {
    fill: #fff !important;
  }
}

/*LOCATION CARD*/

@mixin locationCard {
  width: 80%;
  border: 2px solid color(dark);
  padding: 20px;
  transition: 0.3s;
  margin: 0 auto 10px auto;

  border-radius: 4px;
  &:hover {
    border-color: color(secondary);
    background: color(secondary);
  }
  .sucursal {
    font-family: "Syne", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
  }
}
/**************************************************************************************************/
/*  CTA Btn - it accepts several args in order to use the button on different background colors */
/*************************************************************************************************/

@mixin ctaBtn($fontColor, $hoverColor, $fillColor) {
  position: relative;
  width: 200px;
  display: block;
  overflow: hidden;
  text-decoration: none;
  font-size: 22px;
  color: $fontColor;
  font-family: "Syne", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 1;
  padding: 2px 6px;
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  .arrow-right {
    padding-bottom: 7px;
  }
  &:hover {
    color: $hoverColor;
  }
  &:after {
    position: absolute;
    width: 200px;
    top: 0;
    bottom: -1px;
    right: 0;
    left: 0;
    display: block;
    background-color: $fillColor;
    content: "";
    transform: translate3d(0, 100%, 0);
    z-index: -1;
  }
  &:hover:after {
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  }
}
