/*Light color header*/
@import "globalColors";
@import "fonts";
@import "globalElements";

//Color map function
@function color($colorname) {
  @return map-get($colors, $colorname);
}

//Device width map function
@function deviceWidth($device) {
  @return map-get($screenWidth, $device);
}

.head-container {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  background-image: url(../images/bg-vector.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  height: auto;
  padding-bottom: 100px;

  .top-bar {
    width: 100%;
    height: auto;
    padding: 60px 0 10px 0;

    .foodies-logo {
      float: left;
      margin-right: 20px;

      .logo {
        color: color(dark);
        font-family: "Durk", sans-serif;
        font-size: 27px;
      }
    }
    .site-navigation {
      float: left;
      padding-top: 8px;

      #menu-foodie {
        display: table;

        li {
          display: inline;
          margin-right: 39px;

          // Main menu links
          a {
            display: inline-block;
            font-family: "Syne", sans-serif;
            color: color(dark);
            font-size: 18px;
            text-decoration: none;
            position: relative;

            //Menu links underline
            &:after {
              background: none repeat scroll 0 0 transparent;
              bottom: 0;
              content: "";
              display: block;
              height: 2px;
              left: 50%;
              position: absolute;
              background: color(primary);
              transition: width 0.3s ease 0s, left 0.3s ease 0s;
              width: 0;
            } /*after*/
            &:hover:after {
              width: 100%;
              left: 0;
            } /*hover:after*/
          } /*a*/
        } /*li*/
      } /*menu-foodie li*/
    } /*site-navigation*/

    //Menu hamburger
    .mobile-menu-btn {
      float: right;
      display: none;
    }
  } /*top-bar*/

  .hero-content {
    width: 100%;
    padding-top: 6%;

    .hero-copy-column {
      padding-top: 80px;
      z-index: 0;

      .hero-title {
        font-family: "Durk", sans-serif;
        font-size: 60px;

        &:after {
          background: color(primary);
          position: absolute;
          content: "";
          left: 0;

          background-position: bottom left;
          z-index: -1;
          width: 100%;
          max-width: 423px;
          height: 60px;
          bottom: 190px;
        }
      }
      .hero-paragraph {
        color: color(softGray);
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
      }
      .hero-btn {
        margin-top: 90px;

        a {
          @include ctaBtn(color(dark), color(dark), color(primary));
        } /*a*/
      } /*hero-btn*/
    } /*hero-copy-column*/
    .hero-image {
      width: 100%;
      max-width: 567px;
    } /*hero-image*/
  } /*hero-content*/
} /*head-container*/
/*} page container*/

/*MOBILE NAV*/
.mobile-nav-container {
  width: 100%;
  height: 300px;
  background-color: color(light);
  top: -355px;
  left: 0;
  padding: 10px;
  position: fixed;
  z-index: 2;
  border-radius: 0 0 30px 30px;
  height: 350px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
  /*animation-timing-function: ease-in-out;*/

  .mob-nav-col-l {
    float: left;

    h2 {
      font-family: "Durk", sans-serif;
      font-size: 20px;

      a {
        color: color(dark);
        text-decoration: none;
      }
    }
  }
  .mob-nav-col-r {
    float: right;
  }
  .mobile-main-menu {
    width: 95%;
    margin: 50px auto 0 auto;
    ul {
      margin-left: 0;
      padding-left: 0;
      list-style: none;
      li:first-of-type {
        margin-top: 0;
      }
      li {
        margin: 25px 0;
        a {
          font-family: "Syne", sans-serif;
          color: color(dark);
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
@media (min-width: deviceWidth(desktopL)) {
  #foodies-header .head-container {
    background-size: 49%;
  }
}

@media (min-width: deviceWidth(desktop)) and (max-width: 1199px) {
  #foodies-header .hero-title {
    font-size: 45px;
  }
  #foodies-header .head-container {
    background-size: 49%;
  }
}

/*MEDIA QUERIES*/

@media (min-width: deviceWidth(tablet)) and (max-width: 991px) {
  #foodies-header .head-container {
    background-size: 49%;
    padding-left: 35px;
    padding-right: 35px;
  }
  #foodies-header #menu-foodie {
    padding-left: 5px;
  }
  #foodies-header .hero-title {
    font-size: 32px;
  }
  #foodies-header .hero-title:after {
    bottom: initial;
    height: 40px;
  }
  #foodies-header .hero-copy-column {
    padding-top: 15px;
  }
}

@media (min-width: deviceWidth(mobile)) and (max-width: 767px) {
  #foodies-header .mobile-menu-btn {
    display: block;
  }
  #foodies-header .main-navigation {
    display: none;
  }
  #foodies-header .head-container {
    background-size: 80%;
    padding-left: 35px;
    padding-right: 35px;
  }
  #foodies-header .hero-image {
    display: block;
    width: 75%;
    max-width: 75%;
    margin: 0 auto;
  }
  #foodies-header .hero-title {
    font-size: 43px;
  }
}
#foodies-header .hero-title:after {
  bottom: initial;
  height: 40px;
}
#foodies-header .hero-btn {
  margin-top: 50px;
}
@media (max-width: 575px) {
  #foodies-header .top-bar {
    padding-top: 20px;
  }
  #foodies-header .logo {
    font-size: 20px;
  }
  #foodies-header .head-container {
    background-size: 80%;
    padding-left: 10px;
    padding-right: 10px;
  }
  #foodies-header .main-navigation {
    display: none;
  }
  #foodies-header .mobile-menu-btn {
    display: block;
  }
  #foodies-header .hero-content {
    margin: 0;
  }
  #foodies-header .hero-image {
    display: block;
    width: 75%;
    max-width: 75%;
    margin: 0 auto;
  }
  #foodies-header .hero-copy-column {
    padding-top: 47px;
  }
  #foodies-header .hero-title {
    font-size: 27px;
  }
}
