@import "lightHeader";

/*ABOUT SECTION*/
.about-container {
  width: 100%;
  max-height: 565px;

  .about-left {
    float: left;
    width: 50%;

    .left-container {
      background: linear-gradient(
          to bottom,
          rgba(125, 185, 232, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        ),
        url("../images/about-bg.jpg");
      background-size: cover;
      position: relative;
      max-height: 565px;
      h2 {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        color: color(light);
        padding-right: 40px;
        padding-bottom: 20px;
        font-size: 40px;
        font-family: "Durk", sans-serif;
        font-weight: bold;
        .nuestro-arte {
          color: color(primary);
        }
      }
    }
  }
  .about-right {
    float: left;
    width: 50%;
  }
  .right-container {
    background-image: url("../images/curly.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 25% 40px;
    h3 {
      font-family: "Syne", sans-serif;
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 20px;
    }
    .about-paragraph {
      color: color(softGray);
    }
    .about-btn {
      margin-top: 20px;

      a {
        @include ctaBtn(color(dark), color(dark), color(primary));
      }
    }
  }
}

/*Map Section*/

.map-section-container {
  width: 100%;
  max-height: 600px;
  .map-controls-container {
    float: left;
    width: 40%;
    .map-controls {
      overflow: auto;
      margin-bottom: 50px;
      h2 {
        text-align: center;
        font-family: "Durk", sans-serif;
        font-size: 30px;
        margin-bottom: 20px;
      }
      .controls-type-selection {
        width: 100%;
        .control-btn {
          @include controlBtn;
        }
      }
      .map-search {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 15px 0;

        img {
          display: inline-block;
          margin-right: 5px;
        }
        input {
          border: 0;
          width: 100%;
          padding: 10px 0;
          max-width: 320px;
          display: inline-block;
          margin: 0 auto;
          &:focus {
            outline: none;
          }
        }
      }
      .location-list {
        border-top: 1px solid color(softGray);
        width: 100%;
        padding: 30px 20px;
        .location {
          @include locationCard;
        }
      }
    }
  }
}

/*MEDIA QUERIES*/

@media (min-width: deviceWidth(mobileS)) and (max-width: deviceWidth(tablet)) {
  .about-section {
    margin-top: 0;
  }
  .about-section .about-left {
    clear: both;
    width: 100%;
  }
  .about-section .about-container .left-container h2 {
    padding-right: 10px;
  }
  .about-section .about-right {
    clear: both;
    width: 100%;
  }
}
